{% extends 'base.html' %}
{% load humanize %}
{% block title %}Categories{% endblock %}
{% block content %}
<div class="row mb-3">
  <!-- Sidebar with categories -->
   <h3>Categories:</h3>
  <div class="category-grid mb-4 category-list">
    {% for c in categories %}
    <div class="card shadow category-item py-2 px-2">
      <a href="{% url 'catalog:category_list_by_category' c.slug %}">
        <div class="image-grid">
          {% if c.images.all %}
            {% for p in c.images.all %}
            <img src="{{ p.image.url }}" alt="{{ c.name }}" class="grid-img" loading="lazy">
            {% endfor %}
          {% else %}
            <div class="grid-img item-placeholder">No image</div>
          {% endif %}
        </div>
        <div class="item-label">{{ c.name }}</div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}